#navlogo{
    height: 45px;
    width: 40px;
    margin-top: -12px;
}
.gestion{
	margin-top: 51px;
    height: 58px;
	color: #ffffff;
	background-color: #2895F1;
}
.sombra{
    background-color: #908F8F;
    height: 3px;
}
.main{
	background-image: url(../media/img/papiro.jpg);
	background-size: 1500px;
	background-repeat: no-repeat;
}

.formf{ 
	margin-top: 10px;
	background-color: #ffffff;
	opacity: 0.9;
	border-radius: 10px;
}

.mar{
	margin-bottom: 201px;
}
footer{
    background-color: #2895F1;
}
.blanco{
    color: #ffffff;
}
.sombra1{
    background-color: #908F8F;
    height: 3px;
    margin-top: -2px;
}
.martop{
    margin-top: 40px;
}
.martop1{
    margin-top: 73px;
}
footer{
    background-color: #2895F1;
}
.blanco{
    color: #ffffff;
}
a{
    color: #2891f1 !important;
}