#navlogo{
    height: 45px;
    width: 40px;
    margin-top: -12px;
}
header, .navbar{
    background-color: white !important;
    border: 0px !important;
}
.navbar a{
    color: #2895F1 !important;
    font-size: 1.2em;
}
.navbar a:hover{
    background-color: lightgray !important;
    opacity: 0.7;
}
.sistema{
    height: 78px;
    text-align: center;
    color: #ffffff;
    background-color: #2895F1;
}
.sombra{
    background-color: #908F8F;
    height: 3px;
}
.imgcar{
    height: 538px !important;
    width: 100%;
}
#carousel-example-generic{
    height: 538px;
    width: 100%;
    position: center;
}
.imagen1{
    height: 350px;
    width: 430px;    
}
.titulo{
    color: #2895f1;
}
.texto{
    font-size: 25px;
}
.contenido{
    top: 35px;
}
.contenido1{
    top: 70px;
}
footer{
    background-color: #2895F1;
}
.blanco{
    color: #ffffff;
}

.dropdown, .dropdown-toggle, .dropdown-menu{
    background-color: #fff !important;
}