#navlogo{
    height: 45px;
    width: 40px;
    margin-top: -12px;
}
.color{
	margin-top: 85px;
	margin-bottom: 85px;
	padding: 20px;
	background-color: #ffffff;
	opacity: 0.9;
	border-radius: 10px;
}
.main{
	margin-top: -20px;
	background-image: url(../media/img/tpmaquina.jpg);
	background-size: 1700px;
	background-repeat: no-repeat;
}
label{
	color: black !important;
}
footer{
    background-color: #2895F1;
}
.blanco{
    color: #ffffff;
}
.gestion{
	margin-top: 51px;
	height: 58px;
	color: #ffffff;
	background-color: #2895F1;
}
.sombra{
	height: 3px;
	background-color: #908F8F;
}
a{
    color: #2891f1 !important;
}